@model IEnumerable<ToDoList.Models.ToDo>

<div id="progressPercent">
    <div class="progress">
        <div class="progress-bar" style="width:@(ViewBag.percent)%" role="progressbar">@(ViewBag.percent)%
        </div>
    </div>
 
</div>

<table class="table">

    @foreach (var item in Model)
    {
            <tr>
                <td>
                    @if (!item.IsDone)
                    {
                        <h4>
                            @Html.CheckBoxFor(modelItem => item.IsDone, new { id = item.ID, @class = "ActiveCheck" })
                            @Html.DisplayFor(modelItem => item.Description)
                        </h4>
                    }
                    else
                    {
                        <div class="completed">
                            <h4>
                                @Html.CheckBoxFor(modelItem => item.IsDone, new { id = item.ID, @class = "ActiveCheck" })
                                @Html.DisplayFor(modelItem => item.Description)
                            </h4>
                        </div>
                    }
                </td>
                <td>
                        @Html.ActionLink( "Delete" ,"Delete", "ToDoes", new { id = item.ID}, null)
                </td>
            </tr>
    }

</table>

<script src="~/Custom_Scripts/Checkbox_Event_Listener.js"></script>

